<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MainPage</title>
    <script>
        function hy()
        {
            var muni = window.open("http://127.0.0.1:5000/", "_self","top=800,left=1000,width=800,height=1000");
            return false;
        }
    </script>
    <style>
        .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
    </style>
</head>
<body>
    <img src="suma1.JPG" onclick="hy()"  height="500px" width="500px" class="center" >
</body>
</html>